<h3>Hammer.js API Docs - Main Index</h3>
<p>You can find here a generated API documentation.</p>
<p>General documentation is at the GitHub wiki, <a href="http://github.com/EightMedia/hammer.js/wiki">http://github.com/EightMedia/hammer.js/wiki</a>.</p>

<p><small><em>Generated with YUIDoc</em></small></p>